@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
  font-family: roboto;

  --gree400:#79DD7E;
  --grassstaingreen400: #CAF729;
  --greenFirstPost400: #04CD00;
  --mermaidTreasure400: #21B6B6;
  --portage400: #FF002F;
  --palatinateBlue400: #2940e5;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

